<div class="hero">
    <div class="heroTitle">VOICEBOXX</div>
    <div class="forms">
        {{#if currentUser}}
        <form action='/profile'>
            <button class="heroButton login">PROFILE</button>
        </form>
        <form action='/logout'>
            <button class="heroButton">LOGOUT</button>
        </form>
        {{else}}
        <form action='/login'>
            <button class="heroButton login">LOGIN</button>
        </form>
        <form action='/sign-up'>
            <button class="heroButton">SIGN-UP</button>
        </form>
        {{/if}}
    </div>
</div>
