<div class="wrapper">
    <div class="hero">
        <div class="button-container">
                {{#if currentUser}}
                <button onclick="location.href = '/profile';" class=" indexbutton login hvr-grow">PROFILE</button>
                <button onclick="location.href = '/logout';" class="indexbutton hvr-grow">LOGOUT</button>
                {{else}}
                <button onclick="location.href = '/login';" class="indexbutton login hvr-grow">LOG-IN</button>
                <button onclick="location.href = '/sign-up';" class="indexbutton hvr-grow">SIGN-UP</button>
                {{/if}}
        </div>
        <h1 class="title animated bounceInDown">VOICEBOX</h1>
        <div class="slogan animated fadeIn">THE NEW WAY TO SING AND IMPROVE</div>
    </div>
</div>
