			<nav>
				<div>VOICEBOX</div>
				<div Class="links">
					<a href="/">HOME</a>
					<a href="/LOGIN">LOGIN</a>
				</div>
			</nav>
            <div Class="wrapper">
				<div Class="logincontainer">
					<div Class="loginlabel">LOG-IN</div>
					<div Class="label">USERNAME</div>
					<input type="text"></input>
					<div Class="label">PASSWORD</div>
					<input type="text"></input>
					<br></br>
					<button Class="loginButton">SUBMIT</button>
					<div Class="forgot"> FORGOT YOUR PASSWORD? </div>
				</div>
			</div>