<div class="wrapper">
    <div class="heading">TAKE BACK THE MIC</div>
    <div class="subheading">LOGIN AND GET SINGING</div>
    <form action="/login" method="POST">
        <input name="username" type="text" placeholder="USERNAME">
        <input name="password" type="text" placeholder="PASSWORD">
        <a href="/sign-up" class="account">DON'T HAVE AN ACCOUNT?</a>
        <button class="submitbutton hvr-underline-from-center" type="submit">SUBMIT</button>
    </form>
</div>