<div class="wrapper">
    <form method="post" action="/login" class="logincontainer">
        <div class="loginlabel">LOGIN</div>
        <div class="label">USERNAME</div>
        <input name="username" type="text">
        <div class="label">PASSWORD</div>
        <input type="text" name="password">
        <br></br>
        <button type="submit" class="loginButton">SUBMIT</button>
        <div class="forgot"> FORGOT PASSWORD? </div>
    </form>
</div>