<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-8">
            <h1>Profile</h1>
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
            <p><a href="/">Go Back</a></p>
        </div>
    </div>
</div>
