<div class="wrapper">
    <form action="/sign-up" method="post" class="logincontainer signupcontain">
        <div class="loginlabel">SIGNUP</div>
        <div class="label">USERNAME</div>
        <input name="username" type="text">
        <div class="label">PASSWORD</div>
        <input type="password" name="password">
        <div class="label">CONFIRM PASSWORD</div>
        <input type="password" name="confirmPassword">
        <div class="label">EMAIL</div>
        <input type="text" name="email">
        <br></br>
        <button type="submit" class="loginButton">SUBMIT</button>
        <div class="forgot account"> ALREADY HAVE AN ACCOUNT? </div>
    </form>
</div>
