<div class="wrapper">
    <div class="heading">Lets get you singing</div>
    <div class="subheading">CREATE YOUR ACCOUNT</div>
    <form action="/sign-up" method="POST">
        <input name="username" type="text" placeholder="USERNAME">
        <input name="password" type="text" placeholder="PASSWORD">
        <input name="confirmPassword" type="text" placeholder="CONFIRM PASSWORD">
        <input name="email" type="text" placeholder="EMAIL">
        <a href="/login" class="account">ALREADY HAVE AN ACCOUNT?</a>
        <button class="submitbutton" type="submit">SUBMIT</button>
    </form>
</div>
