<!-- sing.handlebars -->
<div class="wrapper">
    <div class="heading">SING YOUR HEART OUT</div>
    <div class="mic">🎙: <span id="mic">Quiet</span></div>
    <div class="voiceWrapper">
        <div class="pitchWrapper">
            <div class="subheading">PITCH</div>
            <div class="pitch"><span id="pitch">$VALUE</span> Hz</div>
        </div>
        <div class="pitchWrapper">
            <div class="subheading">NOTE</div>
            <div class="pitch"><span id="note">$VALUE</span><sub id="octave">$OCTAVE</sub></div>
        </div>
        <div class="pitchWrapper">
            <div class="subheading">TUNING</div>
            <div class="pitch" id="tuning">$VALUE</div>
        </div>
        <div class="pitchWrapper">
            <div class="subheading">CLARITY</div>
            <div class="clarity" id="clarity">$VALUE</div>
        </div>
    </div>
</div>
<div class="">
    <script type="module" src="scripts/listener.js"></script>
</div>