<!-- sing.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h3 class="text-white">Test page</h3>
            <br>
            <div class="">
                <label for="pitch">Pitch</label>
                <h6 id="pitch">$VALUE</h6>
            </div>
            <div class="">
                <label for="clarity">Clarity</label>
                <h6 id="clarity">$VALUE</h6>
            </div>
        </div>
    </div>
</div>
<div class="">
    <script type="module" src="scripts/test.js"></script>
</div>
