<!-- sing.handlebars -->
<div class="wrapper">
    <div class="heading">{{song.artist}}</div>
    <div class="heading">{{song.title}}</div>
    <div class="">🎙: <img src="/img/offline.png" id="mic"></div>
    <div class="voiceWrapper">
        <div class="pitchWrapper">
            <div class="subheading">YOUR VOICE</div>
            <div class="note"><span id="note">--</span><sub id="octave">--</sub></div>
        </div>
        <div class="pitchWrapper">
            <div class="subheading">CURRENT NOTE</div>
            <div class="note"><span id="target">--</span><sub id="targetOctave">--</sub></div>
        </div>
    </div>
    <div class="lyrics"><span style="white-space: pre-line; display: none;">{{song.lyrics}}</span></div>
    <div class="vextab"><span style="white-space: pre-line; display: none;" id="vextab">{{song.tab}}</span></div>
    <div class="sheet">
        <div id="vexcontainer">
            <div id="vexcanvas"></div>
        </div>
    </div>
    <div id="controls">
      <button id='play'>Play</button>
    </div>
    <div class="voiceWrapper">
        <div class="pitchWrapper">
            <div class="subheading">PITCH</div>
            <div class="pitch"><span id="pitch">$VALUE</span> Hz</div>
        </div>
        <div class="pitchWrapper">
            <div class="subheading">TUNING</div>
            <div class="pitch" id="tuning">$VALUE</div>
        </div>
        <div class="pitchWrapper">
            <div class="subheading">CLARITY</div>
            <div class="clarity" id="clarity">$VALUE</div>
        </div>
    </div>
</div>
<div>
    <script type="module" src="/scripts/listener.js"></script>
</div>