.wrapper {
	width: 100vw;
	height: 100vh;
	font-family: Source Sans Pro;
	font-weight: 700;
}
.hero {
	width: 100vw;
	height: 100vh;
	background-color: #2A76FB;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.slogan {
	font-family: Source Sans Pro;
	font-size: 30px;
	font-weight: 700;
}

.title {
	font-family: Bondi;
	font-size: 150px;
	letter-spacing: 15px;
	margin: 0;
	font-weight: 700;
}

.indexbutton {
	font-family: Source Sans Pro;
	font-weight: 700;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	background-color:transparent;
	color: white;
	margin: 10px;
	font-size: 1em;
}


@font-face {
	font-family: Bondi;
	src: url(bondi.otf) format('truetype');
}

.button-container {
	position: absolute;
	top: 10px;
	right: 20px;
}

.account {
	padding: 20px;
	text-decoration: none;
	color:white;
}

.account:hover {
	text-decoration: underline;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2A76FB;
	color: white
}

.heading {
	padding-top: 100px;
	font-family: Bondi;
	font-size: 100px;
	font-weight: 700;
}

form {
	display: flex;
	flex-direction: column;
	font-family: Source Sans Pro;
	align-items: center;
}

.subheading {
	font-family: Source Sans Pro;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 20px;
}

input {
	font-family: Source Sans Pro;
	padding: 7px;
	margin: 10px;
	width: 370px;
	border: none;
	border-radius: 30px;
	color: red;
	height: 35px;
	text-align: center;
}

.submitbutton {
	font-family: Source Sans Pro;
	font-weight: 700;
	margin-top: 10px;
	width: 250px;
	text-align: center;
	height: 40px;
	color: white;
	border: none;
	background-color: #0A369D;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(0, 0, 0, 0.365);
	opacity: 1; /* Firefox */
	font-weight: 700;
	text-align: center;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
}

body {
	font-family: Source Sans Pro;
	font-weight: 700;
}

.artist {
	padding-left: 20px;
}

.song-list {
	margin-top: 10px;
	font-family: Nunito;
	padding-left: 0px;
	height: auto;
	width: 550px;
	background-color: #CFDEE7;
	border-radius: 10px;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2A76FB;
	color: white
}

.profileHeading {
	padding-top: 20px;
	font-family: Bondi;
	font-size: 100px;
	font-weight: 700;
	margin-bottom: -20px;
}

.subheading {
	font-family: Source Sans Pro;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px;
}

@font-face {
		font-family: Bondi;
		src: url(bondi.otf) format('truetype');
}

li {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	height: 100px;
	width: 100%;
	color: #5d5d5d;
}

li:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
	display: block; /* This will put the pseudo element on its own line. */
	margin: 0 auto; /* This will center the border. */
	width: 93%; /* Change this to whatever width you want. */
	padding-top: 20px; /* This creates some space between the element and the border. */
	border-bottom: 1px solid rgba(0, 0, 0, 0.301); /* This creates the border. Replace black with whatever color you want. */
}

li:last-child:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
	display: block; /* This will put the pseudo element on its own line. */
	margin: 0 auto; /* This will center the border. */
	width: 93%; /* Change this to whatever width you want. */
	padding-top: 20px; /* This creates some space between the element and the border. */
	border-bottom: 0px solid red; /* This creates the border. Replace black with whatever color you want. */
}


li:first-child {
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

li:last-child {
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}



.songtitle {
	font-size: 30px;
	padding: 10px;
	padding-left: 17px;
	font-weight: 900;
}

img {
	margin-top: 30px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-right: 15px;
	background-image: url("profile.jpg");
	background-size: cover;
}

.logout {
	font-family: Source Sans Pro;
	font-weight: 700;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	background-color:transparent;
	color: white;
	margin: 10px;
	font-size: 1em;
	position: absolute;
	top: 10px;
	right: 20px;
}